{
    "plugins": [
        [
            "import",
            {
                "libraryName": "ant--vue",
                // "libraryDirectory": "es",
                "style": true
            }
        ]
    ]
}
